@media (max-width : 990px)  {
        .large {
                display: none;
        }

        .small {
                display: flex;
                flex-direction: column;
                font-size: 0.7rem;
        }

        .sidebar {
                background-color:  
        }

         
        .mod1 {
                position:absolute;
                min-width: 100vw;
                min-height: 100vh;
                top: 0px;
                left: 0px;
        }
 
        .mod2 {
                position:absolute;
                max-width: 60vw;
                min-height: 100vh;
                top: 5%;
                left: 15%;
        }       
        .searchbox {
                margin-top: 0%;
        }
}
