@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        font-family: 'Nunito', sans-serif !important;
}


/* MAIN */


body {
        height: 100vh;
        width: 100vw;
}




/* TABLEAU */

#tableau {
        overflow: scroll;
}

#tableau tr {
        font-size: 15px;
}

/* BUTTONS */

label {
        color: #FFF;
}

.btns {
        border:none;
        padding: 10px;
        text-align : center;
}

.btns:focus, .btns:active, btns:active, btns:focus {
        outline: none !important;
        box-shadow: none !important;
        background-color: #efefef;
}

.btns:hover {
        border:none !important;
        background-color: #efefef;
}


.btn-sidebar {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #343A40;
}

.custom-checkbox:before {
        background-color: #FFF;
}

/* MAIN COLORS */

.mc1 {
        background-color: #914139;
}

.mc2 {
        background-color: #343A40;
}

.mc3 {
        background-color: #FFF;
        color: #343A40;
}

/* MODAL FORM */

.mod1 {
        z-index: 1;
        position: absolute;
        max-width: 500px;
        top: 15%;
        left: 40%;
        background-color: #F8F9FA;
}

.mod2 {
        z-index: 1;
        position: absolute;
        max-width: 500px;
        top: 20%;
        left: 25%;

}

.form-details input {
        padding-top: 10px;
}


.form-pop {
        display:none;
}


.form-actions {
        text-align: center;
}

.searchbox{
        margin-top:10%;
}

footer {
        margin-bottom: 0px;
}


