<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>                                                                                      
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/small.css') }}" media="(max-width: 990px)">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

        {% block title %}

        <title>Erreur</title>

        {% endblock %}
</head>

<body class="mc2">
        

        <!----------------- NAVBAR --------------------> 


        <nav class="navbar navbar-expand-lg navbar-dark mc1"> <a class="navbar-brand" href="#">LOGO</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/patients/">Patients</a>
              </li>
             <li class="nav-item">
                <a class="nav-link active " href="/infirmieres/">Infirmieres <span class="sr-only">current</span></a>
              </li>
             <li class="nav-item">
                <a class="nav-link disabled" href="#">Deplacements</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Recherche ~ Coming soon" aria-label="Recherche" >
            </form>
          </div>
        </nav>


        <!---------------- SIDEBAR ----------------> 

        <div class="sidebar large bg-light float-left text-center p-4 col-lg-2 d-none d-lg-block h-100 mc2">
                <h2 class="h3 text-dark btn-sidebar">Erreur de suppression </h2>
                <br><button type="button" class="btn btn-light text-dark btns mb-4 mt-3" onclick="goTo()"><i class="fas fa-2x fa-arrow-left col-12  mb-2" style="color:#343A40;"></i><b>Gestion des infirmieres</b></button>
        </div>

        <div  class="sidebar small bg-light float-left align-items-center col-md-1 col-sm-2 col-2 d-lg-none h-100 mc2">
                <br><button type="button" class="btn btn-light text-dark btns mb-4 mt-3" onclick="goTo()"><i class="fas fa-2x fa-arrow-left col-12  mb-2" style="color:#343A40;"></i></button>
        </div>
        


        {% block content %}
        
        <div id="container" class="container d-inline bg-dark col-lg-9 col-md-11 col-sm-10 col-10 float-right h-100">

                <form class="col-lg-10 col-md-11 col-md-10 col-sm-10 col-10 text-left rounded mc2 mod2" action="/delete_patient_list/"  method="POST">

                        <div class="form-group form-details">

                                    

                                <legend class="text-center text-light h4">IMPOSSIBLE ! DES PATIENTS SONT ASSOCIES A CETTE L'INFIRMIERE.<br><br>Veuillez supprimer ou réaffecter les patients suivants avant de supprimer cette infirmière</legend>
                                        
                                    <label for="infirmiere"></label>
                                    <select class="form-control" aria-abel="" name="numsec" id="numsec">
                                        <option value=""> Liste des patients </option>
                                        {% for patient, numsec, numpro in obj %}
                                        <option value="{{ numsec }}">{{ patient }}</option>
                                        {% endfor %}
                                    </select>

                                    <div class="form-actions">
                                          <br><button type="submit"  class="btn col-4 col-sm-4 col-md-4 col-lg-4 btn-primary btn-light bg-light mc2 mt-4 mr-4">SUPPRIMER</button>
                                   </div>    

                          </div>


                </form>
        </div>  

    {% endblock %}

    <script>
            function goTo() {
                    window.location.href= "http://localhost:5000/infirmieres/"
            }
    </script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
