<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>                                                                                      
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/small.css') }}" media="(max-width: 990px)">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

        {% block title %}

        <title>Infirmieres</title>

        {% endblock %}
</head>

<body class="mc2">
        

        <!----------------- NAVBAR --------------------> 


        <nav class="navbar navbar-expand-lg navbar-dark mc1"> <a class="navbar-brand" href="#">LOGO</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item disabled">
                <a class="nav-link" href="/patients/">Patients</a>
              </li>
             <li class="nav-item">
                <a class="nav-link active" href="/infirmieres/">Infirmieres<span class="sr-only">(current)</span></a>
              </li>
             <li class="nav-item">
                <a class="nav-link disabled" href="#">Deplacements</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Recherche ~ Coming soon" aria-label="recherche" disabled>
            </form>
          </div>
        </nav>

        
        <!----------------- SIDEBAR --------------------> 


        <div class="sidebar large bg-light float-left text-center p-4 col-lg-2 d-none d-lg-block h-100 mc2">
                <h2 class="h3 text-dark btn-sidebar">Gestion</h2>
                <br><button type="button" class="btn btn-light text-dark btns mb-4 mt-3" onclick="openForm()"><i class="fas fa-2x fa-user-plus col-12  mb-2" style="color:#343A40;"></i><b>Creer une nouvelle infirmiere</b></button>
                <br><button type="button" class="btn btn-light text-dark btns mb-4 mt-3" onclick="openFormFind()"><i class="fas fa-2x fa-search col-12 mb-2" style="color:#343A40;"></i><b>Trouver une infirmiere</b></button>
                <br><button type="button" class="btn btn-light text-dark btns mb-4 mt-3" onclick="openFormDelete()"><i class="fas fa-2x fa-user-times col-12 mb-2" style="color:#343A40;"></i><b>Supprimer une infirmiere</b></button>
        </div>

        <div  class="sidebar small bg-light float-left align-items-center col-md-1 col-sm-2 col-2 d-lg-none h-100 mc2">
                <br><button type="button" class="btn btn-light text-dark btns mb-4 mt-3" onclick="openForm()"><i class="fas fa-2x fa-user-plus col-12  mb-2" style="color:#343A40;"></i></button>
                <br><button type="button" class="btn btn-light text-dark btns mb-4 mt-3" onclick="openFormFind()"><i class="fas fa-2x fa-search col-12 mb-2" style="color:#343A40;"></i></button>
                <br><button type="button" class="btn btn-light text-dark btns mb-4 mt-3" onclick="openFormDelete()"><i class="fas fa-2x fa-user-times col-12 mb-2" style="color:#343A40;"></i><b></b></button>
        </div>
        


        <!----------------- LISTE DES infirmiereS --------------------> 

        
        {% block content %}

        <div id="tableau" class="row-1 d-inline bg-dark col-lg-10 col-md-11 col-sm-10 col-10 float-right h-100">
                <table class="table table-dark table-hover">
                           <thead>
                                    <tr>
                                      <th scope="col">Prénom</th> 
                                      <th scope="col">Nom</th> 
                                      <th class="large" scope="col">Numero Professionnel</th>
                                      <th class="large" scope="col">Tel Pro</th>
                                      <th class="large" scope="col">Tel Perso</th>
                                      <th class="large" scope="col">Adresse</th>
                                      <th scope="col">Actions</th>
                                    </tr>
                          </thead>
                           <tbody>
                                    {% for id, adresse_id, numeroProfessionnel, nom, prenom, telPro, telPerso, adresse, adresse_id, numero, rue, cp, ville in obj %}
                                    <tr>
                                      <td>{{ prenom }}</td>
                                      <td>{{ nom }}</td>
                                      <td class="large">{{ numeroProfessionnel }}</td>
                                      <td class="large">{{ telPro }}</td>
                                      <td class="large">{{ telPerso }}</td>
                                      <td class="large">{{ adresse }}</td>
                                      <td class="text-center"><a href="/read_infirmiere_shortcut/{{ numeroProfessionnel }}"><i class="fa fa-eye" style="color:#F8F9FA;"aria-hidden="true"></i></a></td> 
                                      <td class="text-center"><a href="/delete_infirmiere_shortcut/{{ numeroProfessionnel }}"><i class="fa fa-user-times" style="color:#F8F9FA;"aria-hidden="true"></i></a></td> 
                                    </tr>
                                  {% endfor %}
                          </tbody>
                 </table>
        </div>

        <!---------------- FORMULAIRE NOUVELLE INFIRMIERE ----------------> 

        <div class="form-pop" id="form-create-infirmiere">

                <form class="container w-50 mx-auto col-md-12 col-sm-12 col-12 text-center rounded mc3 mod1" action="/create_infirmiere/"  method="POST">

                        <div class=" p-4 form-group">

                                   <legend class="text-center text-dark h4">CREATION D'UNE NOUVELLE INFIRMIERE</legend>

                                    <label for="firstname"></label>
                                    <input type="text" class="form-control" id="prenom" aria-describedby="" placeholder="Prénom" name="prenom" required> 

                                    <label for="name"></label>
                                    <input type="text" class="form-control" id="nom" aria-describedby="" placeholder="Nom" name="nom" required>

                                    <label for="telPro"></label>
                                    <input type="tel" class="form-control" id="telPro" aria-describedby="" placeholder="Telephone Professionnel" name="telPro" required>

                                    <label for="telPerso"></label>
                                    <input type="tel" class="form-control" id="telPerso" aria-describedby="" placeholder="Telephone Personnel" name="telPerso" required>


                                    <label for="cp"></label>
                                    <input type="text" class="my-3 d-inline form-control col-md-4 float-left" id="cp" aria-describedby="" placeholder="Code postal" pattern="[0-9]{5}" name="cp" required>

                                    <label for="ville"></label>
                                    <input type="text" class="my-3 d-inline form-control col-md-7 float-right" id="ville" aria-describedby="" placeholder="Ville" name="ville" required> 

                                    <label for="numero"></label>
                                    <input type="text" class="mb-3 d-inline form-control col-md-4 float-left" id="numero" aria-describedby="" placeholder="Numero" pattern="[0-9]{1,4}" name="numero" required>

                                    <label for="rue"></label>
                                    <input type="text" class="mb-3 d-inline form-control col-md-7 float-right" id="Rue" aria-describedby="" placeholder="Rue" name="rue" required> 

                                    <label for="numeroProfessionnel"></label>
                                    <input type="number" class="form-control" id="numeroProfessionnel" aria-describedby="" placeholder="Numero Professionnel" name="numeroProfessionnel" required>


                                    <div class="form-actions justify-content-center row">
                                            <br><button type="submit" class="btn col-4 col-sm-4 col-md-4 col-lg-4 btn-primary btns mc2 mt-4 mr-4">CONFIRMER</button>
                                          <br><button type="button" class="btn col-4 col-sm-4 col-md-4 col-lg-4 btn-primary btns mc2 mt-4 ml-4" onclick="closeForm()">ANNULER</button>
                                   </div>    

                        </div>

                </form>
        </div>  


        <!---------------- FORMULAIRE TROUVER  UNE INFIRMIERE  ----------------> 


        <div class="form-pop" id="form-recherche-infirmiere">
                <form class="container w-50 mx-auto col-md-5 col-sm-5 col-5 text-center rounded mc3 mod1 searchbox" action="/read_infirmiere/" method="POST">
                        <div class=" p-4 form-group">
                                   <legend class="text-center text-dark h4">TROUVER UNE INFIRMIERE </legend>
                                   <input class="form-control mr-sm-2" type="text" placeholder="Numéro Professionnel" aria-label="recherche" name="numpro">
                                    <div class="form-actions justify-content-center row">
                                            <br><button type="submit" class="btn col-4 col-sm-4 col-md-4 col-lg-4 btn-primary btns mc2 mt-4 mr-4" >CHERCHER</button>
                                          <br><button type="button" class="btn col-4 col-sm-4 col-md-4 col-lg-4 btn-primary btns mc2 mt-4 ml-4" onclick="closeFormFind()">ANNULER</button>
                                   </div>    
                        </div>
                </form>
        </div>


        <!---------------- FORMULAIRE SUPPRIMER UNE INFIRMIERE  ----------------> 


        <div class="form-pop" id="form-delete-infirmiere">
                <form class="container w-50 mx-auto col-md-5 col-sm-5 col-5 text-center rounded mc3 mod1 searchbox" action="/delete_infirmiere/" method="POST">
                        <div class=" p-4 form-group">
                                   <legend class="text-center text-dark h4">SUPPRIMER UNE INFIRMIERE</legend>
                                   <input class="form-control mr-sm-2" type="text" placeholder="Numéro Professionnel" aria-label="recherche" id="numpro" name="numpro">
                                    <div class="form-actions justify-content-center row">
                                          <br><button type="submit" class="btn col-4 col-sm-4 col-md-4 col-lg-4 btn-primary btns mc2 mt-4 mr-4">SUPPRIMER</button>
                                          <br><button type="button" class="btn col-4 col-sm-4 col-md-4 col-lg-4 btn-primary btns mc2 mt-4 ml-4" onclick="closeFormDelete()">ANNULER</button>
                                   </div>    
                        </div>
                </form>
        </div>

        {% endblock %}

         <script>
                function openForm() {
                  document.getElementById("form-create-infirmiere").style.display = "block";
                }
                function closeForm() {
                  document.getElementById("form-create-infirmiere").style.display = "none";
                }

                function openFormFetch() {
                  document.getElementById("form-fetch-infirmiere").style.display = "block";
                }
                function closeFormFetch() {
                  document.getElementById("form-fetch-infirmiere").style.display = "none";
                }

                function openFormFind() {
                  document.getElementById("form-recherche-infirmiere").style.display = "block";
                }

                function closeFormFind() {
                  document.getElementById("form-recherche-infirmiere").style.display = "none";
                }

                function openFormDelete() {
                  document.getElementById("form-delete-infirmiere").style.display = "block";
                }

                function closeFormDelete() {
                  document.getElementById("form-delete-infirmiere").style.display = "none";
                }
        </script>

       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
